In [1]:
import pandas as pd

df = pd.read_csv('adult_data.csv')

df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:


# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = df['race'].value_counts()
print(race_count)

In [ ]:
# What is the average age of men?
average_age_men = df[df['sex'] == 'Male']['age'].mean()
print(average_age_men)

In [ ]:
# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors = (df['education'].value_counts(normalize=True)['Bachelors'])*100
print(percentage_bachelors)

In [ ]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?

# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
print(higher_education)
print(lower_education)

In [ ]:
# percentage with salary >50K
higher_education_rich = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]['salary'].value_counts(normalize=True)['>50K'] * 100
print(higher_education_rich)
lower_education_rich = lower_education_rich = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]['salary'].value_counts(normalize=True)['>50K'] * 100
print(lower_education_rich)

In [8]:
min_work_hours = df['hours-per-week'].min()
print(min_work_hours)

1

In [ ]:
num_min_workers = df[df['hours-per-week'] == min_work_hours]
print(num_min_workers)

In [11]:
rich_percentage = (num_min_workers['salary'].value_counts(normalize=True).get('>50K', 0)) * 100
print(rich_percentage)

10.0

In [12]:
highest_earning_country = (df.groupby('native-country')['salary'].value_counts(normalize=True).unstack().fillna(0)['>50K'].idxmax())
print(highest_earning_country)

Iran

In [13]:
highest_earning_country_percentage = (df.groupby('native-country')['salary'].value_counts(normalize=True).unstack().fillna(0)['>50K'].max() * 100)
print(highest_earning_country_percentage)

41.86046511627907

In [14]:
top_IN_occupation = (df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]['occupation'].value_counts().idxmax())
print(top_IN_occupation)

Prof-specialty